<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Trailers</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a href="/movies" class="navbar-brand">Movie Trailers</a>

      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Films</a></li>
      </ul>
    </div>
  </nav>

  <section id="wrapper">
    {{{content}}}
    <div class="push"></div>
  </section>

  <div class="footer">
      <div class="col-md-3 col-sm-4">
        <div class="logo navbar-brand">Movie Trailers</div>
      </div>
      <div class="col-md-3 col-sm-4 links">
        <h4>Links</h4>
        <ul>
          <li><a href="#">Some Link</a></li>
          <li><a href="#">Some Link</a></li>
          <li><a href="#">Some Link</a></li>
          <li><a href="#">Some Link</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4 links">
        <h4>Links</h4>
        <ul>
          <li><a href="#">Some Link</a></li>
          <li><a href="#">Some Link</a></li>
          <li><a href="#">Some Link</a></li>
          <li><a href="#">Some Link</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4 links">
        <h4>Links</h4>
        <ul>
          <li><a href="#">Some Link</a></li>
          <li><a href="#">Some Link</a></li>
          <li><a href="#">Some Link</a></li>
          <li><a href="#">Some Link</a></li>
        </ul>
      </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
