<div class="movies row">
  {{#each movies as |movie|}}
  <div class="movie col-md-3">
    <a href="/movies/{{movie.publicPath}}">
      <img src="{{movie.imageUrl}}" alt="{{movie.publicPath}}">
    </a>
  </div>
  {{/each}}
</div>
