<div class="movie-details row">
  <div class="col-md-6 col-sm-5">
    <div class="trailer">
      <div class="video-wrapper">{{{trailer}}}</div>
    </div>
  </div>

  <div class="movie-info col-md-4 col-sm-5">
    <h2>{{movie.title}}</h2>
    <p>{{movie.synopsis}}</p>
    <div><b>Actors: </b>{{movie.actors}}</div>
    <div><b>Directors: </b>{{movie.directors}}</div>
    <div><b>Country: </b>{{movie.country}}</div>
  </div>
</div>
