html {
  position: relative;
  min-height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}
.footer, .push {
  height: 150px;
}
.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background: #1D262D;
}

.navbar-default {
  background-color: #1D262D;
  border: none;
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #fff;
}

.header {
  border-bottom: 1px solid #ccc;
  padding: 10px 25px;
  background: #1D262D;
  color: #fff;
}

.logo {
  color: #fff;
}

.movies .movie {
  margin-bottom: 15px;
}

.movie-details {
  text-align: center;
}

.movie-info {
  text-align: left;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.footer .links h4 {
  color: #fff;
}

.footer .links ul {
  color: #fff;
  padding: 0;
  list-style: none;
}

.footer .links ul li a {
  text-decoration: none;
  color: #777;
}
